<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app/app.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script>
      require("google-closure-library");
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
  </head>
  <body style="margin-top: 2px; margin-left: 2px;">
    <div id="app" class="container-fluid m-0 p-0">
      <div>
        <div class="project-actions float-left">
          <button class="btn btn-sm btn-primary" onClick="newProject()">New</button>
          <button class="btn btn-sm btn-primary" onClick="newProject()">Open</button>
          <button class="btn btn-sm btn-primary" onClick="newProject()">Save</button>
          <button class="btn btn-sm btn-primary" onClick="newProject()">Verify</button>
          <button class="btn btn-sm btn-primary" onClick="newProject()">Upload</button>
        </div>
        <div class="float-right">
          <button class="btn btn-sm btn-warning" @click="toggleShowSpriteContainer">Sprites</button>
        </div>
      </div>
      <xml id="toolbox" style="display: none">
        <category name="Control">
            <block type="controls_if"></block>
            <block type="controls_repeat_ext"></block>
        </category>
        <category name="Logic">
            <block type="logic_compare"></block>
        </category>
        <category name="Math">
            <block type="math_number"></block>
            <block type="math_arithmetic"></block>
        </category>
        <category name="Text">
            <block type="text"></block>
            <block type="text_print"></block>
            <block type="string_length"></block>
        </category>
        <category name="Variables" custom="VARIABLE"></category>
      </xml>
      <div class="row w-100">
        <div class="col">
          <section style="position: relative;width: 100%; height: 300px;">
            <div id="blocklyDiv" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0"></div>
          </section>
        </div>
        <div id="sprite-container" class="col-sm-4" v-if="showSpriteContainer">
          <div class="card">
            <div class="card-body p-2">
                <button class="btn btn-sm btn-success" @click="addSprite">Add new</button>
                <hr class="mt-3 mb-4">
                <div class="sprite" v-for="(item, index) in sprites">
                  <div class="row">
                    <div class="col">{{ item.name }}</div>
                    <div class="col-3 pr-1"><button class="btn btn-sm btn-warning btn-block">Rename</button></div>
                    <div class="col-3 pl-1"><button class="btn btn-sm btn-danger btn-block">Remove</button></div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <!-- Fix blockly container hogging area -->
      <div style="margin-top: 45px;"></div>
      <textarea name="code" id="code" cols="50" rows="20"></textarea>

      <div id="sprite-creator-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sprite creator</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-3 offset-sm-3">
                    Sprite width: {{ spriteCreatorWidth }}
                    <input v-model="spriteCreatorWidth" min="0" max="64" type="range">
                </div>
                <div class="col-sm-3">
                    Sprite height: {{ spriteCreatorHeight }}
                    <input v-model="spriteCreatorHeight" min="0" step="8" max="64" type="range">
                    <button class="btn btn-sm" @click="draw">draw</button>
                </div>
              </div>
              <canvas ref="spriteCreator" width="766" height="766" @click="spriteCreatorCanvasClick($event)">

              </canvas>
              <!-- <div class="sprite-creator-grid" style="width: 100%; height: 766px">
                <div v-for="row in spriteCreatorHeight" :key="row" :style="{height: (100/spriteCreatorHeight) + '%'}" class="row">
                    <div class="sprite-creator-gridlet" v-for="col in spriteCreatorWidth" :key="col" style="height: 100%;" :style="{width: `calc(100% / ${spriteCreatorWidth})`}" @click="spriteCreatorGridletClick(index)"></div>
                </div>
              </div> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./static/js/jquery.js"></script>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/vue-app.js"></script>
    <script src="./app/generators/arduino.js"></script>
    <script src="./app/generators/arduino/boards.js"></script>
    <script src="./app/generators/arduino/colour.js"></script>
    <script src="./app/generators/arduino/io.js"></script>
    <script src="./app/generators/arduino/lists.js"></script>
    <script src="./app/generators/arduino/logic.js"></script>
    <script src="./app/generators/arduino/loops.js"></script>
    <script src="./app/generators/arduino/map.js"></script>
    <script src="./app/generators/arduino/math.js"></script>
    <script src="./app/generators/arduino/procedures.js"></script>
    <script src="./app/generators/arduino/serial.js"></script>
    <script src="./app/generators/arduino/servo.js"></script>
    <script src="./app/generators/arduino/spi.js"></script>
    <script src="./app/generators/arduino/text.js"></script>
    <script src="./app/generators/arduino/time.js"></script>
    <script src="./app/generators/arduino/variables.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
